NEXT_PUBLIC_HOCUSPOCUS_JWT_TOKEN=fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
NEXT_PUBLIC_SUPABASE_URL=https://gggggggggggggggggggg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh.sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss.hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
STORAGE_ACCESS_KEY=55555555555555555555
STORAGE_SECRET_KEY=0000000000000000000000000000000000000000
SUPABASE_JWT_SECRET=hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
SUPABASE_SERVICE_KEY=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

