@import "./fonts.css";

.article {
  color: var(--foreground);
  background-color: var(--background);
}

.article img {
  border-radius: var(--image-border-radius);
}

.article .title {
  color: var(--title-color);
  margin-top: var(--header-margin);
  margin-bottom: var(--header-margin);
  font-size: var(--title-size);
  text-align: var(--title-align);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  font-style: var(--title-style);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
}

.article .subtitle {
  color: var(--subtitle-color);
  margin-top: var(--header-margin);
  margin-bottom: var(--header-margin);
  text-align: var(--title-align);
  font-family: var(--subtitle-font);
  font-weight: var(--subtitle-weight);
  font-style: var(--subtitle-style);
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
}

.article h1 {
  color: var(--header-color);
  padding-top: var(--header-margin);
  padding-bottom: var(--header-margin);
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  font-style: var(--header-style);
  font-size: var(--header-size);
  line-height: var(--header-line-height);
  letter-spacing: var(--header-letter-spacing);
}

.article h2 {
  color: var(--header-color);
  padding-top: var(--header-margin);
  padding-bottom: var(--header-margin);
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  font-style: var(--header-style);
  font-size: 1.3rem;
  line-height: var(--header-line-height);
  letter-spacing: var(--header-letter-spacing);
}

.article h3 {
  color: var(--header-color);
  padding-top: var(--header-margin);
  padding-bottom: var(--header-margin);
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  font-style: var(--header-style);
  font-size: 1.2rem;
  line-height: var(--header-line-height);
  letter-spacing: var(--header-letter-spacing);
}

.article h4 {
  color: var(--header-color);
  padding-top: var(--header-margin);
  padding-bottom: var(--header-margin);
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--header-font);
  font-weight: var(--header-weight);
  font-style: var(--header-style);
  font-size: 1rem;
  line-height: var(--header-line-height);
  letter-spacing: var(--header-letter-spacing);
}

.article p {
  padding-top: var(--paragraph-margin);
  padding-bottom: var(--paragraph-margin);
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--paragraph-font);
  font-weight: var(--paragraph-weight);
  font-style: var(--paragraph-style);
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-line-height);
  letter-spacing: var(--paragraph-letter-spacing);
  color: var(--paragraph-color);
}

.article blockquote {
  /* padding-top: var(--blockquote-margin);
  padding-bottom: var(--blockquote-margin); */
  padding-left: var(--blockquote-padding);
  margin-top: var(--blockquote-margin);
  margin-bottom: var(--blockquote-margin);
  border-left: var(--blockquote-border-width) solid var(--blockquote-border-color);
  font-family: var(--blockquote-font);
  font-weight: var(--blockquote-weight);
  font-style: var(--blockquote-style);
  font-size: var(--blockquote-size);
  line-height: var(--blockquote-line-height);
  letter-spacing: var(--blockquote-letter-spacing);
  color: var(--blockquote-color);
}

.article ul,
.article ol {
  font-family: var(--list-font);
  font-weight: var(--list-weight);
  font-style: var(--list-style);
  font-size: var(--list-size);
  line-height: var(--list-line-height);
  letter-spacing: var(--list-letter-spacing);
  color: var(--list-color);
  /* padding-top: var(--list-margin); */
  /* padding-bottom: var(--list-margin); */
  padding-inline-start: 1.5rem;
  /* padding-inline-end: 1.5rem; */
}

.article .todo-element {
  font-family: var(--list-font);
  font-weight: var(--list-weight);
  font-style: var(--list-style);
  font-size: var(--list-size);
  line-height: var(--list-line-height);
  letter-spacing: var(--list-letter-spacing);
  color: var(--list-color);
}

.article li {
  font-family: var(--list-font);
  font-weight: var(--list-weight);
  font-style: var(--list-style);
  font-size: var(--list-size);
  line-height: var(--list-line-height);
  letter-spacing: var(--list-letter-spacing);
  color: var(--list-color);
}

.article ul li::marker,
.article ol li::marker {
  color: var(--list-color);
}

.article strong {
  font-weight: var(--strong-weight);
}

.article pre {
  background-color: var(--code-block-background);
  color: var(--code-block-color);
  font-family: var(--code-block-font);
  font-size: var(--code-block-font-size);
  line-height: var(--code-block-line-height);
  overflow-x: auto;
}

.article pre code {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  padding: 0;
  border-radius: 0;
  border: none;
}

.not-article .title,
.not-article .subtitle,
.not-article h3,
.not-article h4,
.not-article p,
.not-article blockquote,
.not-article ul,
.not-article ol,
.not-article li {
  padding-top: revert;
  padding-bottom: revert;
  font-family: revert;
  font-size: revert;
  font-weight: revert;
  line-height: revert;
  color: revert;
  letter-spacing: revert;
}

@media (min-width: 640px) {
  .article {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .article {
    font-size: 1.125rem;
  }
}
