.gradient-blur-bot {
  backdrop-filter: blur(20px);
  mask: linear-gradient(to bottom, transparent, black 80%);
}

.gradient-blur-top {
  backdrop-filter: blur(20px);
  mask: linear-gradient(to top, transparent, black 80%);
}